<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhyan.zero.common.mapper.CruAcctountWithdrawMapper" >
  <resultMap id="BaseResultMap" type="com.xhyan.zero.common.domain.CruAcctountWithdraw" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="cru_account_type" property="cruAccountType" jdbcType="TINYINT" />
    <result column="daily_amount" property="dailyAmount" jdbcType="BIGINT" />
    <result column="each_min_amount" property="eachMinAmount" jdbcType="BIGINT" />
    <result column="daily_times" property="dailyTimes" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
</mapper>