<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhyan.zero.common.mapper.TradeStatusNotifyMapper" >
  <resultMap id="BaseResultMap" type="com.xhyan.zero.common.domain.TradeStatusNotify" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="trade_id" property="tradeId" jdbcType="BIGINT" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="pay_amount" property="payAmount" jdbcType="BIGINT" />
    <result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
    <result column="trade_status" property="tradeStatus" jdbcType="TINYINT" />
    <result column="trade_status_alter_time" property="tradeStatusAlterTime" jdbcType="TIMESTAMP" />
    <result column="notify_time" property="notifyTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="fail_reason" property="failReason" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="reserved" property="reserved" jdbcType="VARCHAR" />
  </resultMap>
</mapper>