<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhyan.zero.common.mapper.TradePaymentMapper" >
  <resultMap id="BaseResultMap" type="com.xhyan.zero.common.domain.TradePayment" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="trade_id" property="tradeId" jdbcType="BIGINT" />
    <result column="src_account_id" property="srcAccountId" jdbcType="BIGINT" />
    <result column="des_account_id" property="desAccountId" jdbcType="BIGINT" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="used_balance" property="usedBalance" jdbcType="BIGINT" />
    <result column="used_credit" property="usedCredit" jdbcType="BIGINT" />
    <result column="trade_date" property="tradeDate" jdbcType="DATE" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>