<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhyan.zero.common.mapper.TradeMapper" >
  <resultMap id="BaseResultMap" type="com.xhyan.zero.common.domain.Trade" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="partner_id" property="partnerId" jdbcType="BIGINT" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="buyer_account_id" property="buyerAccountId" jdbcType="BIGINT" />
    <result column="seller_account_id" property="sellerAccountId" jdbcType="BIGINT" />
    <result column="trade_type" property="tradeType" jdbcType="TINYINT" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="occur_amount" property="occurAmount" jdbcType="BIGINT" />
    <result column="show_url" property="showUrl" jdbcType="VARCHAR" />
    <result column="return_url" property="returnUrl" jdbcType="VARCHAR" />
    <result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
    <result column="goods_picture_url" property="goodsPictureUrl" jdbcType="VARCHAR" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="send_goods_time" property="sendGoodsTime" jdbcType="TIMESTAMP" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="pay_cost_items" property="payCostItems" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="reserved" property="reserved" jdbcType="VARCHAR" />
  </resultMap>
</mapper>